div div {
    list-style-type: none;
    overflow: hidden;
}

button {
    display: inline-block;
    border: none;
    color: white;
    background-color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

.buttons {
    background-color: #333;
}

.navbar {
    background-color: rgb(0, 134, 75);
}

button:hover {
    background-color: rgb(0, 134, 75);
}

.navbar h1 {
    display: inline;
    position: relative;
    color: white;
    font-size: 34px;
}

img {
    display: inline;
    height: 40px;
    width: 40px;
}

button a {
    text-decoration: none;
    color: white;
}